.requiredWrapper {
    position: absolute;
    bottom: 1rem;
    right:10%;
    padding: 1rem 3rem 2rem 2rem;
    border-radius: 2px;
    border: 1px;
    gap: 12px;
    box-shadow: 0px 4px 6px -2px #10182808;
    box-shadow: 0px 12px 16px -4px #10182814;
    border: 1px solid #c2c8d0;
    background: linear-gradient(0deg, #ffffff, #ffffff);
}

.card {
    display: flex;
    gap: 1rem;
    margin-bottom: 5%;
}

.cardHeader {
    margin-bottom: 8%;
    white-space: nowrap;
    font-size: 0.75rem;
    text-align: left;
}

.cardText {
    color: #858585;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    white-space: nowrap;
}


@media screen and (min-height:900px) {
    .requiredWrapper {
        bottom: 39vh;
    }
}

@media screen and (max-height:700px) {
    .requiredWrapper {
        bottom: 15%;
    }
}